swagger: '2.0'
info:
  description: >-
    JES user-service documentation for api
  version: 1.0.0
  title: JES-USERSERVICE
  contact:
    email: jes.vrgame@gmail.com
host: jes.api.user.safesuk.me
basePath: /v1
tags:
  - name: user
    description: Operations about user
schemes:
  - http
paths:
  /users/register:
    post:
      tags:
      - user
      summary: Register user into the system
      description: ''
      operationId: registerUser
      produces:
        - application/json
      parameters: 
      - in: "body"
        name: "body"
        schema:
          $ref: "#/definitions/UserForm"
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
                auth:
                  type: boolean
                token:
                  type: string
            example:
              auth: true
              token: "eyJhbGci;eyJhbGcieyJhbGcieyJhbGcieyJhbGcieyJhbGcieyJhbGci"
          headers:
            access_token:
              description: access token of jes service
              type: string
        '401':
          description: Unauthorize
  /users/login:
    post:
      tags:
        - user
      summary: Logs user into the system
      description: ''
      operationId: loginUser
      produces:
        - application/json
      parameters:
        - name: username
          in: query
          description: The user name for login
          required: true
          type: string
        - name: password
          in: query
          description: The password for login in clear text
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
                auth:
                  type: boolean
                token:
                  type: string
            example:
              auth: true
              token: "eyJhbGci;eyJhbGcieyJhbGcieyJhbGcieyJhbGcieyJhbGcieyJhbGci"
          headers:
            access_token:
              description: access token of jes service
              type: string
        '401':
          description: Unauthorize
  /users/logout:
    get:
      tags:
        - user
      summary: Logs out the system
      description: ''
      operationId: logoutUser
      produces:
        - application/json
      parameters: []
      responses:
        default:
          description: successful operation
          schema:
            type: object
            properties:
              auth:
                type: boolean
  /users/u/{id}:
    get:
      tags:
        - user
      summary: Get user by user id
      description: ''
      operationId: getUserById
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: 'The name that needs to be fetched. Use user1 for testing. '
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/User'
        '400':
          description: Invalid username supplied
        '404':
          description: User not found
  /users/me:
    get:
      tags:
        - user
      summary: get basic info of user using token
      description: ''
      operationId: getUserMe
      parameters:
        - in: header
          name: access-token
          schema:
            type: string
          required: true
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/User'
        '500':
          description: error to find user
        '404':
          description: user is not found
  /users/u/{id}/cloth:
    put:
      tags:
        - user
      summary: Update cloth index of a user
      description: ''
      operationId: putCloth
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'user id'
          required: true
          type: string

        - name: clothIndex
          in: body
          description: 'index number of cloth'
          required: true
          type: integer
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/User'
        '500':
          description: Error can't update user by id
        '404':
          description: User not found
  /users/u/{id}/score:
    put:
      tags:
        - user
      summary: Update score incrementally of a user
      description: ''
      operationId: putScore
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 'user id'
          required: true
          type: string
        - name: score
          in: body
          description: 'score to be added to user current'
          required: true
          type: integer
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/User'
        '500':
          description: Error can't update user by id
        '404':
          description: User not found
definitions:
  User:
    type: object
    properties:
      id:
        type: string
        format: objectId
      username:
        type: string
      email:
        type: string
      password:
        type: string
      friends:
        type: array
        items:
          type: string
          format: objectId
          description: User.id
      score:
        type: integer
        minimum: 0
      clothIndex:
        type: integer
        minimum: 0
    xml:
      name: Users
  UserForm:
    type: object
    properties:
      username:
        type: string
      email:
        type: string
      password:
        type: string
    xml:
      name: UserForm